

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
}

.split-screen {
    display: flex;
    height: 100vh;
}


.left-side {
    flex: 1;
    background: linear-gradient(180deg, #0275f0, #03b8f5f3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.line {
    width: 100px;
    height: 2px;
    background: white;
    margin: 20px auto;
}

.illustration {
    font-size: 150px;
    margin-top: 50px;
}


.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    position: relative;
}

.right-content h2 {
    color: #0056b3;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.right-content p {
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
}



.button-container {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-filled {
    background-color: #1072db;
    color: white;
    border: 1px solid #007bff;
}

.btn-outline {
    background-color: white;
    color: #666;
    border: 1px solid #ccc;
}

.btn:hover {
    opacity: 0.8;
}



.bottom-link {
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.bottom-link a {
    color: #eb0707;
    text-decoration: none;
    font-size: 0.9rem;
}




.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.data-table thead tr {
    background-color: #051c2c;
    color: white;
}

.data-table th, .data-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}

.back-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    margin-bottom: 20px;
}








